@CHARSET "ISO-8859-1";
*
{
	margin:0px;
	padding:0px;
	font-family: Arial, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #444444;
	color: #EEEEEE;
	border: 1px solid #000000;
	text-shadow: -1px -1px 0px #101010, 1px 1px 0px #505050;
}
html
{
	border: none;
}
body
{
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
}
/* Header */
.heading
{
	background-image: url(../images/dunkles-holz.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: Comic Sans,Comic Sans MS,cursive;
	font-size: 50px;
	height: 80px;
	
}
/* Content */
.default
{
	background-image: url(../images/tafel.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 40px;
	height: 600px;
}
button
{
	cursor: pointer;
}
button:hover
{
	background-color: #525252;
}
/* Landingpage */
.lessonTable
{
	position: relative;
	top: 50px;
	text-align: center;
	margin-left: auto;
	margin-bottom: 40px;
	margin-right: auto;
	background-color: #FFFFFF;
}
.lessonTable td
{
	border: 2px solid white;
	width: 120px;
	height: 80px;
	
}
.linkSet
{
	position: relative;
	top: 80px;	
	background: none;
	border: none;
}
/* new template */
h2
{
	clear: both;
	background: none;
	border: none;
}
p
{
	background: none;
	border: none;
}
.form
{
	background: none;
	border: none;
	width: 300px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: left;
}
label
{
	background: none;
	border: none;
}
input
{
	float: right;
	text-align: right;
}
input:hover
{
	background-color: #525252;
}
input:active
{
	background-color: #525252;
}
.submit
{
	cursor: pointer;
}
.submit:hover
{
	background-color: #525252;
}
/* Footer */
.footer
{
	background-image: url(../images/dunkles-holz.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
